@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welkom</h1>
    <p class="lead">Dit is de Moonlit Darkness app, een rpg die nog niet helemaal klaar is</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>First</h2>
        <p>
            De applicatie is nog niet helemaal af, de classes staan er groten deels in. Database connectie is er ook via het repository pattern.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Second</h2>
        <p>De gegeven tijd was niet genoeg om de applicatie optijd af te maken. Ik zal proberen om tijdens de demo van vrijdag in ieder geval de database opgaven te laten zien en hopelijk meer.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Third</h2>
        <p>Het is jammer dat het zo is gegaan. Het hele jaar ging het goed, totdat er thuis iets niet goed ging. Daardoor ging alles moeilijk op school.</p>
        </div>

</div>